@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pokemon-yellow: #FFCB05;
  --pokemon-blue: #2a75bb;
  --pokemon-red: #ff0000;
  --pokemon-dark-blue: #3c5aa6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --pokemon-yellow: #FFCB05;
    --pokemon-blue: #3c5aa6;
    /* Lighter blue for dark mode? Or keep brand? */
    --pokemon-red: #ff3333;
    --pokemon-dark-blue: #2a75bb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'pikachuNormal';
  src: url('/fonts/Pokemon Hollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pikachuBold';
  src: url('/fonts/Pokemon Solid.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}